VITE_SUPABASE_URL=https://kfeoemuhxhufqzaxlzch.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtmZW9lbXVoeGh1ZnF6YXhsemNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcwNjM4NjksImV4cCI6MjEwMjYzOTg2OX0.1nXt_GywX7AZGgjb7Eqb1ULun5SKpAWfcnCEESKFjUw
